<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBook - Atualizar Senha</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>

  {{ template "navbar"}}

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Atualizar Senha</h5>

            <form id="update-password">
              <div class="mb-3">
                <label class="form-label" for="current-password">Senha atual</label>
                <input type="password" class="form-control" name="current-password" id="current-password" required="required">
              </div>

              <div class="mb-3">
                <label class="form-label" for="new-password">Nova senha</label>
                <input type="password" class="form-control" name="new-password" id="new-password" required="required">
              </div>

              <div class="mb-3">
                <label class="form-label" for="confirm-password">Confirmar nova senha</label>
                <input type="password" class="form-control" name="confirm-password" id="confirm-password" required="required">
              </div>

              <button class="btn btn-info" type="submit">Atualizar Senha</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ template "footer"}}

  {{ template "scripts"}}
  <script src="/assets/javascript/user.js"></script>
</body>
</html>
